<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<img src="http://127.0.0.1:3000/upload/get_file/5e234a53eb916d3280bee9180/0"/>
<img src="http://127.0.0.1:3000/upload/get_file/5e234a53eb916d3280bee9180/thumbnail"/>
<style>
</style>
